= form_for @municipality do |f|
  - if @municipality.errors.any?
    #error_explanation
      %h2= "#{pluralize(@municipality.errors.count, "error")} prohibited this municipality from being saved:"
      %ul
        - @municipality.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :numeric_code
    = f.number_field :numeric_code
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :state
    = f.check_box :state
  .actions
    = f.submit 'Save'
