= form_for @municipality, class: 'form' do |f|
  - if @municipality.errors.any?
    #error_explanation
      %h2= "#{pluralize(@municipality.errors.count, "error")} prohibited this municipality from being saved:"
      %ul
        - @municipality.errors.full_messages.each do |message|
          %li= message

  .form-group.row
    = f.label 'Código', class: 'label col-sm-1'
    = f.number_field :numeric_code, class: 'form-control col-sm-4'
  .form-group.row
    = f.label 'Nombre', class: 'label col-sm-1'
    = f.text_field :name, class: 'form-control col-sm-4'
  .form-group.row
    = f.label 'Estado', class: 'label col-sm-1'
    = f.check_box :state, class: 'form-control col-sm-4'
  .actions
    = f.submit 'Guardar', class: 'btn btn-success btn-sm'
