%h3 MUNICIPIO

%p
  %b Código:
  = @municipality.numeric_code
%p
  %b Nombre:
  = @municipality.name
%p
  %b Estado:
  = @municipality.get_state
%p
  %b Regiones:
  = regions_names(@municipality)

%hr
= link_to 'Edit', edit_municipality_path(@municipality)
= link_to 'Volver', municipalities_path
