%p#notice= notice

%p
  %b Numeric code:
  = @municipality.numeric_code
%p
  %b Name:
  = @municipality.name
%p
  %b State:
  = @municipality.state

= link_to 'Edit', edit_municipality_path(@municipality)
\|
= link_to 'Back', municipalities_path
