= form_for @region, class: 'form' do |f|
  - if @region.errors.any?
    #error_explanation
      %h2= "#{pluralize(@region.errors.count, "error")} prohibited this region from being saved:"
      %ul
        - @region.errors.full_messages.each do |message|
          %li= message

  .form-group.row
    = f.label 'Código', class: 'label col-sm-2'
    = f.number_field :numeric_code, class: 'form-control col-sm-4'
  
  .form-group.row
    = f.label 'Nombre', class: 'label col-sm-2'
    = f.text_field :name, class: 'form-control col-sm-4'

  .form-group.row
    = f.label 'Municipios', class: 'label col-sm-2'
    = f.select :municipalities, Municipality.all.collect {|m| [ m.name, m.id ] }, {}, {class: 'form-control col-sm-4', multiple: true, required: true, include_blank: false}
  
  .actions
    = f.submit 'Guardar', class: 'btn btn-success btn-sm'
