%h3 REGIONES

%table.table.table-bordered.table-sm
  %thead
    %tr
      %th CÓDIGO NUMÉRICO
      %th NOMBRE
      %th MUNICIPIOS
      %th{colspan: 3} OPCIONES

  %tbody
    - @regions.each do |region|
      %tr
        %td= region.numeric_code
        %td= region.name
        %td
          - region.municipalities.each do |m| 
            = link_to m.name, m, class: 'btn btn-primary btn-sm'
        %td= link_to 'Ver', region
        %td= link_to 'Editar', edit_region_path(region)
        %td= link_to 'Eliminar', region, method: :delete, data: { confirm: 'Está seguro?' }

%br

= link_to 'Nueva Región', new_region_path, class: 'btn btn-success btn-sm'
